body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    margin: 20px;
}

header {
    background-color: #017054;
    padding: 30px;
    text-align: center;
    box-shadow: red;
    border-radius: 50vh;
    
}

.main {
    margin-top: 20px;
}

.gastos {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(49, 0, 71);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}