body {
    background: #8ad3e5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    margin: 0px;
    padding: 0;
}

header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    box-shadow: rgb(60, 0, 95);
    border-radius: 100vh;
    
}

.main {
    margin-top: 20px;
}

.gastos {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(49, 0, 71);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #6f00ff;
}
