body {
    background-image: url(img/FUNDO\ DA\ PAGINA.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    margin: 0px;
    padding: 0;
}

header {
    background-color: #1e82c5;
    padding: 30px;
    text-align: center;
    
    
}

.main {
    margin-top: 20px;
}

.gastos {
    margin-bottom: 20px;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    background-color: #e7b306;
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #58d107;
}
button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table button {
    background-color: #f44336; 
}

table button:hover {
    background-color: #e53935; }